html {
  font-size: 16px;
}
.ui-width {
  max-width: $ui-width;
  padding-left: $gutter;
  padding-right: $gutter;
  margin-left: auto;
  margin-right: auto;
  &.no-gutters {
    padding-left: 0;
    padding-right: 0;
  }
}
h1 {
  color: blue;
  @media #{$breakpoint-md-up} {
    color: $primary;
  }
}
.visually-hidden { // For accessibility. Shamelessly stolen from BootStrap…
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  margin: -1px!important;
  overflow: hidden!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  border: 0!important;
}