// Grid vars
$xs-max: 640px;
$sm-max: 959px;
$md-max: 1199px;
$lg-max: 1599px;

// $breakpoint-xs-only: "(max-width: #{$xs-max})"; // 0 -> xs-max range
// $breakpoint-sm-up: "(min-width: #{$sm-start})"; // sm-start -> up range
// $breakpoint-sm-only: "(min-width: #{$sm-start}) and (max-width: #{$sm-max})"; // sm-start -> sm-max range
// $breakpoint-md-up: "(min-width: #{$md-start})"; // md-start -> up range
// $breakpoint-md-only: "(min-width: #{$md-start}) and (max-width: #{$md-max})"; // md-start -> md-max range
// $breakpoint-lg-up: "(min-width: #{$lg-start})"; // lg-start -> up range
// $breakpoint-lg-only: "(min-width: #{$lg-start}) and (max-width: #{$lg-max})"; // lg-start -> lg-max range
// $breakpoint-xl-up: "(min-width: #{$xl-start})"; // xl-start -> up range
// $breakpoints-all: ($breakpoint-xs-only, $breakpoint-sm-up, $breakpoint-sm-only, $breakpoint-md-up, $breakpoint-md-only, $breakpoint-lg-up, $breakpoint-lg-only, $breakpoint-xl-up);
// $breakpoint-ups: ($breakpoint-sm-up, $breakpoint-md-up, $breakpoint-lg-up, $breakpoint-xl-up);
// $breakpoint-all-prefixes: ("xs", "xs-only", "sm", "sm-only", "md", "md-only", "lg", "lg-only", "xl");
// $breakpoint-up-prefixes: ("xs", "sm", "md", "lg", "xl");

@import '../node_modules/@drewbot/sass-flexbox-grid/public/sass-flexbox/scss/main.scss';

.row.cols-have-gutter {
  min-width: calc(100% + $gutter) !important;
  margin: 0 -#{$gutter} !important;
}