.site-header {
  border-top: solid 1px transparent;
  border-bottom: solid 1px transparent;
  box-shadow: 0 0 $gutter rgba(0,0,0,.2);
}

h1.site-title,
p.site-title {
  margin: 0;
  padding: 0;
  font-size: .5rem;
  line-height: 0;
  a {
    display: inline-block;
    line-height: 0;
  }
}

.main-header--logo-link {
  display: block;
  margin: $gutter/2 1rem $gutter/2 0;
  img,
  svg {
    width: auto;
    height: $logo-height-xs;
    @media #{$breakpoint-md-up} {
      max-height: $logo-height-md;
      max-width: 100%;
      height: auto;
    }
  }
}

// The main menu. Hidden by default on small screens.
.main-navigation {
  display: flex;
  justify-content: flex-end;
  .menu-toggle {
    align-self: center;
    order: 2;
    cursor: pointer;
    border: solid 1px $light-gray;
    border-radius: $gutter/4;
    background: transparent;
    display: inline-flex;
    line-height: 0;
    font-size: 1.5rem;
    padding: $gutter/2;
    align-items: center;
    justify-content: center;
    @media #{$breakpoint-md-up} {
      display: none;
    }
    &.toggled-on {
      box-shadow: 0 0 $gutter/2 rgba(0,0,0,.2);
    }
  }
  #main-nav-and-search-form {
    display: none;
    position: absolute;
    left: 0;
    top: calc(#{$logo-height-xs} + #{$gutter});
    width: 100%;
    min-height: calc(100vh - #{$logo-height-xs} - #{$gutter});
    background-color: $white;
    box-shadow: 0 $gutter/2 $gutter/2 rgba(0,0,0,.2);
    @media #{$breakpoint-md-up} {
      display: flex;
      position: revert;
      left: revert;
      top: revert;
      min-height: revert;
      box-shadow: revert;
      align-items: center;
    }
    .admin-bar & {
      top: calc(#{$logo-height-xs} + #{$gutter} + 46px);
      min-height: calc(100vh - #{$logo-height-xs} - #{$gutter} - 46px);
      @media #{$breakpoint-md-up} {
        top: calc(#{$logo-height-xs} + #{$gutter} + 32px);
        min-height: revert;
      }
    }
    &.toggled-on {
      display: revert;
    }
  }
  .primary-menu {
    list-style-type: none;
    background: $white;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    @media #{$breakpoint-md-up} {
      flex-direction: row;
    }
    ul {
      list-style-type: none;
      margin: 0 0 0 1em;
      padding: 0;
    }
    li {
      display: block;
      margin: 0;
      padding: 0;
      &.current-menu-ancestor > a,
      &.current-menu-item > a {
        font-weight: bold;
      }
    }
    a {
      display: block;
      padding: $gutter/2 $gutter;
      text-decoration: none;
      color: $primary;
      background-color: $white;
      &:hover {
        background-color: $light-gray;
        color: $secondary;
      }
    }
  }
  // .searchform {
  //   display: block;
  //   margin-left: $gutter;
  //   margin-top: $gutter;
  //   padding-top: $gutter;
  //   border-top: solid 1px $light-gray;
  // }
}
.main-nav-search-form-container {
  margin-top: $gutter;
  padding: $gutter;
  border-top: solid 1px $light-gray;
  //border-bottom: solid 1px $light-gray;
  @media #{$breakpoint-md-up} {
    margin-top: 0;
    padding: 0;
    border-top: none;
  }
}