
$ui-width: 75rem;

$gutter: 1rem;

$font: sans-serif;
$heading-font: serif;

$primary: #ffcc00;
$secondary: #009900;

$warning: #fd7e14;
$danger: #dc3545;
$success: #198754;
$info: #0dcaf0;
$gray: #adb5bd;
$light-gray: #f0f0f0;
$black: #000000;
$white: #ffffff;